<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.motoli.apps.allsubjects"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:versionCode="41"
          android:versionName="1.31.042"
    >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".Motoli_Application"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/applogo"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name=".Motoli_Front"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".AppProvider"
            android:authorities="com.motoli.apps.allsubjects.AppProvider"
            android:exported="false"
            android:readPermission="true"
            android:writePermission="true"/>

        <activity
            android:name=".UserSelect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".Launch_Platform"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".Activities_Platform"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT05"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt05"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityVL"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityLT04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_lt06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD07"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd07"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySD04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd04"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityCS01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_cs01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityCS02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_cs02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>

        <activity
            android:name=".ActivityRS01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_rs01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityRS02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_rs02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityRS03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_rs03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityRS04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sd07"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityBK02BookList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/icon_books_listen"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityBK02Book"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/icon_books_listen"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityBK03Books"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/icon_books_read"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd04"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD05"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd05"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityWD06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_wd06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op01"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op04"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP05"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op05"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityOP07"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_op07"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn04"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN05"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn05"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityQN07"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_qn07"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh01"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH03"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh03"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH04"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh04"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH05"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh05"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivitySH06"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_sh06"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityTR01"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_tr01"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityTR02"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_tr02"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity
            android:name=".ActivityTRCanvas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:logo="@drawable/btn_act_tr01"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
    </application>

</manifest>
